:root {
    --background-primary: #2e2d49;
    --background-secondary: #1f1e3d;
    font-size: 20px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--background-primary);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1110px;
    gap: 3rem;
    overflow: hidden;
    max-width: 100%;
    margin: auto;
}

h1 {
    user-select: none;
}

.container {
    background: var(--background-secondary);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    user-select: none;
}

.buttonContainer {
    font-size: 1rem;
}

.texto {
    font-weight: lighter;
}

.buttonContainer button {
    display: inline-block;
    height: 30px;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: .3s all;
    margin: 0 8px;
    color: #fff;
    font-size: .6rem;
    font-weight: 500;
    background: rgb(65, 122, 126);
    cursor: pointer;
}

.buttonContainer button:hover {
    background: rgba(65, 122, 126, .7);
}

@media (max-width: 1032px) {
    .wrapper {
        flex-direction: column;
    }
}

@media (max-width: 473px) {
    h1 {
        font-size: 1rem;
    }
    
    .container {
        width: 300px;
        height: 300px;
        font-size: .7rem;
    }

    .buttonContainer button {
        width: 50px;
        overflow: hidden;
    }
}

@media (max-width: 315px) {
    .container {
        width: 230px;
        height: 230px;
        font-size: .6rem;
    }
}