:root {
    --background-primary: #2e2d49;
    --background-secondary: #1f1e3d;
    font-size: 20px;
}

* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0.15rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background-clip: #f0f;
}

body {
    background: var(--background-primary);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 3rem;
    overflow: hidden;
}

h1 {
    user-select: none;
}

.container {
    background: var(--background-secondary);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    user-select: none;
}

.buttonContainer {
    font-size: 1rem;
}

.texto {
    font-weight: lighter;
}

.buttonContainer button {
    display: inline-block;
    height: 30px;
    width: 140px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: .3s all;
    margin: 0 8px;
    color: #fff;
    font-size: .6rem;
    font-weight: 500;
    background: rgb(65, 122, 126);
    cursor: pointer;
}

.buttonContainer button:hover {
    background: rgba(65, 122, 126, .7);
}
